<% provide(:title, 'Home') %>
 <%= render 'layouts/woman_worker_nav' %>
<div id="site_content">
	<div id="sidebar_container">
		<div class="gallery">
          <ul class="images">
            <li class="show"><%= image_tag("woman1.jpeg", :size => "450x450", :alt => "Show Group" ) %></li>
            <li><%= image_tag("woman2.jpeg", :size => "450x450", :alt => "Show Group" ) %></li>
          </ul>
        </div>
	 </div>
	<div id="content">
	        <h1> EDITED23456546789 Welcome to the womenReportPlatform</h1>
	        <p>This is a platform for women to report any cases of violence to their leaders. You just have to fill a form with the details of the case you are reporting and your leaders will be able to know about it.To  do this you are required to create an account and login. There is no need to be afraid because your privacy is guarateed.Feel free to have your say.</p>
	        <h3>what you need to know</h3>
	        <p>Please give the current residential information because it is important for your leaders in  their planning decisions. </p>
	</div>
</div>