<div id="logo">
          <div id="logo_text">
              <!-- class="logo_colour", allows you to change the colour of the text -->
              <h1><a href="/">women<span class="logo_colour">ReportPlatform</span></a></h1>
              <h2>Bridging the gap between the women and their leaders.</h2>
          </div>
          <p style="float: right; padding-top: 65px;"><%= image_tag("twitter.png", :size => "", :alt => "Show Group") %> <%= image_tag("facebook.png", :size => "", :alt => "Show Group") %><%= image_tag("rss.png", :size => "", :alt => "Show Group") %>
          </p>
</div>