    <header>
        <%= render 'layouts/logo'%>
      <nav>
        <ul class="sf-menu" id="nav">
          <li class="selected"><a href="/">Home</a></li>
          <li><a href="/about">geek night </a></li>
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="case/new">Report A Case</a></li>
        </ul>
      </nav>
    </header>
