    <header>
      <%= render 'layouts/logo' %>
      <nav>
        <ul class="sf-menu" id="nav">
            <li class="selected"><a href="/worker">Home</a></li>
            <li><a href="worker/new">Report A Case</a></li>
            <li><a href="">Submit Annual Report</a></li>
            <li><a href="#">Graphical Reports</a>
              <ul>
                <li><a href="#">Global Reports</a></li>
                <li><a href="#">Continent Based Reports </a>
                <li><a href="#">Country/State Based Reports</a></li>
                <li><a href="#">District/Province Based Reports</a></li>
              </ul>
            </li>

            <li><a href="#">Map Reports</a>
              <ul>
                <li><a href="#">Global Reports</a></li>
                <li><a href="#">Continent Based Reports </a>
                <li><a href="#">Country/State Based Reports</a></li>
                <li><a href="#">District/Province Based Reports</a></li>
              </ul>
            </li>
            
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>

        </ul>
      </nav>
    </header>